<div class="row p-2 ">
  <div class="col">
    <a [routerLink]="['home']">
      ​<img src="../../../assets/img/marvel-logo.png" class="img-fluid" alt="logo da marvél comics" />
      <h6>#MARVELCOMICS</h6>
    </a>
  </div>

  <div class="col">
    <ul class="nav justify-content-end">

      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/home']">HOME</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['catalog']">CATÁLOGO</a>
      </li>

      <!-- <li class="nav-item">
        <a class="nav-link" href="/">ABOUT</a>
      </li> -->


    </ul>
  </div>
</div>
