<h2>LANÇAMENTOS</h2>
<div class="row row-cols-1 row-cols-md-3 g-4">

  <div>
    <app-card-cuppon-footer>
      <img src="https://i.annihil.us/u/prod/marvel/i/mg/6/40/60fad3441e566/portrait_uncanny.jpg" class="card-img-top"
        alt="...">
      <h5 class="card-title"> Avengers Mech Strike #5 </h5>
    </app-card-cuppon-footer>
  </div>

  <div>
    <app-card-cuppon-footer>
      <img src="https://i.annihil.us/u/prod/marvel/i/mg/6/00/60fad30f44148/portrait_uncanny.jpg" class="card-img-top"
        alt="...">
      <h5 class="card-title"> Symbiote Spider-Man: Crossroads #1 </h5>
    </app-card-cuppon-footer>
  </div>
  <div>
    <app-card-cuppon-footer>
      <img src="https://i.annihil.us/u/prod/marvel/i/mg/8/60/60fad30f41a14/portrait_uncanny.jpg" class="card-img-top"
        alt="...">
      <h5 class="card-title">S.W.O.R.D. #7 </h5>
    </app-card-cuppon-footer>
  </div>
</div>
