<div class="container mt-4">


  <div class="card mb-3">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/Marvel_Logo.svg/800px-Marvel_Logo.svg.png"
      class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">HE COME MARVEL COMICS WORLD</h5>
      <p class="card-text">Bem vindo ao Marvel comics world, a primeira loja de coleções de quadrinhos oficial da
        marvel comics na PARAIBA.<br />
        Aqui você pode encontrar os principais volumes disponibilizados pela marvel comics, contando com
        edições raras e atualizadas.</p>

    </div>
  </div>

  <div class="col" style="margin-top:4rem;">
    <app-card-view-text></app-card-view-text>
  </div>

  <div class="col" style="margin-top:4rem;">
    <app-footer-home></app-footer-home>
  </div>

</div>
