<h2>SUPER NOVIDADE!!!</h2>
<div class="card mb-3" style="max-width: 100%;">
  <div class="row g-1">
    <div class="col-md-4">
      <app-carousel></app-carousel>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">BLACK COMICS FRIDAY!!!</h5>
        <p class="card-text">
          Em comemoração aos 82 anos de Marvel Comics, os maiores clássicos se
          encontram em uma promoção imperdível, com a disponibilização de cupons surpresas na primeira compra.
          Não deixe o os seus principais heróis de mão agora, eles precisam da sua leitura e ajuda para combater
          as forças do mal!!!
        </p>
        <div class="d-grid  d-md-flex justify-content-md-end">

          <a type="button" class="btn btn-lg btn-danger" (click)="roter()">Conferir</a>
        </div>
      </div>
    </div>
  </div>
</div>
