@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import "~bootstrap/dist/css/bootstrap.min.css";

*{
  font-family: 'Roboto', sans-serif;
}

body{
  background: url('https://cdn.dribbble.com/users/3142712/screenshots/6466965/31._pom_klementieff_plays_mantis__a_powerful_empath_4x.jpg?compress=1&resize=1200x900') no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

